.wrapper {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.AddIntervalItem {
    padding-top: 30px;
}

.is-done {
    background: #00d1b2;
}

.is-active {
    background-color: #209cee;
    font-size: 24px;
    color: aliceblue !important;
}

.break {
    background-color: #ffe785;
}

.is-next {
    font-size: 24px;
}

.is-upcoming {
    background-color: #ffd83d;
}

