.is-done {
    background: #00d1b2;
    
}

.is-active {
    background: #209cee;
    font-size: 24px;
    color: aliceblue;
}

.break {
    background: #ffe785;
}

.is-next {
    font-size: 24px;
}

.is-upcoming {
    background: #ffd83d;
}

